{% extends 'base.html' %} 
{% block product %}
</br>
</br>
<h1 class="title">Cadastrando novo produto</h1> 
<form autocomplete="off" style = ""class="is-centered container" action="{% url 'new_produto' %}" method="POST">
    {% csrf_token %}
    <div class="">
      Nome do produto:
      <div class="control">
        {{form.produto}}
      </div>
    </div>
    <div class="">
      Descrição:
      <div class="control">
        {{form.descricao}}
      </div>
    </div>
    <div class="">
      Cor:
      <div class="control">
        {{form.cor}}
      </div>
    </div>
    <div class="">
      Preço:
      <div class="control">
        {{form.preco}}
      </div>
    </div>    
    </br>
    <input class="is-centered" type="submit" value="Submit">
</form>
{% endblock %} 
