*.py linguist-language=Python



static/*.css linguist-vendored
static/*.js linguist-vendored
static/*.min.js linguist-generated
static/*.scss linguist-vendored

*.css linguist-vendored
*.html linguist-vendored
*.js linguist-vendored
