<!DOCTYPE html> 
{% load static %} 
<html lang="pt-br"> 

  <link rel="stylesheet" href="{% static 'estilo.css' %}"></link>


<head> 
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, 
initial-scale=1.0">  
</head> 
<body> 

  <a href="{% url 'index'%}">Inicio / </a>
  <a href="{% url 'produto'%}">Produtos / </a>
  <a href="{% url 'list_produto'%}">Todos os Produtos / </a>
  <a href="{% url 'new_produto'%}">Cadastrar Produto</a>
{% block product %}{% endblock %} 
</body> 
</html>
