{% extends 'base.html' %} 
{% block product %}
</br>
</br>
<h1 class="title">Alterando produto</h1>
</br>
<h2 class="title is-4">
{{item}},
{{item.cor}},
{{item.descricao}}, R$
{{item.preco}}
</h2>
<form autocomplete="off" style = "" class="is-centered container" action="{% url 'update_produto' pk %}" method="POST">
    {% csrf_token %}
    <div class="">
      Novo nome do produto:
      <div class="control">
        {{form.produto}}
      </div>
    </div>
    <div class="">
      Nova descrição:
      <div class="control">
        {{form.descricao}}
      </div>
    </div>
    <div class="">
      Nova cor:
      <div class="control">
        {{form.cor}}
      </div>
    </div>
    <div class="">
      Novo Preço:
      <div class="control">
        {{form.preco}}
      </div>
    </div>    
    </br>
    <input class="is-centered" type="submit" value="Submit">
</form>
{% endblock %} 
