{% extends 'base.html' %} 
{% block product %}

</br>
</br>
<h1 class="title">Aplicação estoqueWeb</h1> 
<p>Praesent sapien massa, convallis a pellentesque nec, 
egestas non nisi. Praesent sapien massa, convallis a 
pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. 
Vivamus magna justo, lacinia eget consectetur sed, convallis 
at tellus. Proin eget to rtor risus. Vivamus suscipit tortor 
eget felis porttitor volutpat. Nulla porttitor accumsan 
tincidunt. Nulla porttitor accumsan tincidunt. Vestibulum ante 
ipsum primis in faucibus orci luctus et ultrices posuere 
cubilia Curae; Donec velit neque, auctor sit ametaliquam vel, 
ullamcorper sit amet ligula. Praesent sapien massa, convallis 
a pellentesque nec, egestas non nisi.</p>
</br>
</br>
                                                                                                                                                                                                                                                                                                                                            

<form action='{%url 'new_saida'%}' method='POST'>
  {%csrf_token%}
  <div>
    Selecione o Produto para dar entrada:
    <div class="control">{{form.produto}}</div>
  </div>
  <div>
    Quantidade:
    <div class="control">{{form.quantidade}}</div>
  </div>
  <input type="submit" value='submit' >
</form>



{% endblock %} 
